{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
<h3>Привет, я автор</h3>
<p>
  <main role="main" class="container">
    <div class="row">
      <!-- Левый вспомогательный блок -->
      <div class="col-md-4 mb-1 mt-1">
        <div class="card">
          <div class="card-body">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <div class="h6">
                  Об авторе:
                </div> 
              </li>
              <li class="list-group-item">
                <div class="h6 text-muted">
                  Столярова Юлия
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- Тело страницы -->
      <div class="col-md-8">
        <div class="card-body">
          <div class="card-text">
            <p>Другие работы автора:</p>
            <p><a href="https://github.com/stainy077">GitHub</a></p>
          </div>
        </div>
      </div>
    </div>
  </main> 
</p>
{% endblock %} 
